<form #form="ngForm" (ngSubmit)="onSubmit()">
  <h3>Login</h3>
  <p class="error" *ngIf="error">{{ error }}</p>
  <div class="form-field">
    <mat-form-field subscriptSizing="dynamic" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput #emailControl="ngModel" [(ngModel)]="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
      <mat-error *ngIf="emailControl.errors && emailControl.errors['required']">Email is a required field.</mat-error>
      <mat-error *ngIf="emailControl.errors && emailControl.errors['pattern']">This is not a valid Email.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field subscriptSizing="dynamic" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput #passwordControl="ngModel" type="password" [(ngModel)]="password" name="password" required />
      <mat-error *ngIf="passwordControl.errors && passwordControl.errors['required']">Password is a required field.</mat-error>
    </mat-form-field>
  </div>
  <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Login</button>
</form>
<objectivity-loader></objectivity-loader>
