<form class="movie-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput>
    <mat-error *ngIf="form.controls.title.errors && form.controls.title.errors['required']">Title is required.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Rate</mat-label>
    <input formControlName="rate" matInput>
    <mat-error *ngIf="form.controls.rate.errors && form.controls.rate.errors['required']">Rate is required.</mat-error>
    <mat-error *ngIf="form.controls.rate.errors && form.controls.rate.errors['invalidRate']">{{ form.controls.rate.errors['invalidRate'] }}</mat-error>
    <mat-error *ngIf="form.controls.rate.errors && form.controls.rate.errors['pattern']">This is not a valid rate.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Duration (min.)</mat-label>
    <input formControlName="duration" matInput>
    <mat-error *ngIf="form.controls.duration.errors && form.controls.duration.errors['required']">Duration is required.</mat-error>
    <mat-error *ngIf="form.controls.duration.errors && form.controls.duration.errors['pattern']">This is not a valid duration.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Director</mat-label>
    <input formControlName="director" matInput>
    <mat-error *ngIf="form.controls.director.errors && form.controls.director.errors['required']">Director is required.</mat-error>
  </mat-form-field>
  <objectivity-year-selector formControlName="year"></objectivity-year-selector>
  <mat-form-field appearance="outline">
    <mat-label>Image</mat-label>
    <input formControlName="image" matInput>
  </mat-form-field>
  <div class="form-buttons">
    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Save</button>
    <a routerLink="/movies" mat-raised-button>Cancel</a>
  </div>
</form>
