:host {
  display: block;
  background-color: #1b1e23;
  max-height: 50%;
}

.filters-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movies-container {
  margin-bottom: 20px;
}
