<ng-template #emptyList>
  <objectivity-message message="No movies found"></objectivity-message>
</ng-template>
<div class="filters-container">
  <objectivity-movies-sort></objectivity-movies-sort>
  <a *objectivityUserPermissions mat-stroked-button color="primary" class="new-movie-link" routerLink="/movies/new">+ Add new movie</a>
  <objectivity-movies-search (onSearch)="onSearchHandler()"></objectivity-movies-search>
</div>
<div class="movies-container" *ngIf="movies.length > 0; else emptyList">
  <table mat-table [dataSource]="movies">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>Rate</th>
      <td mat-cell *matCellDef="let element">{{element.rate | rate}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="actions">
          <button (click)="selectMovie(element)" mat-flat-button color="primary">Show more</button>
          <a *objectivityUserPermissions mat-fab aria-label="Edit movie" [routerLink]="['/movies', element.id]">
            <mat-icon>edit</mat-icon>
          </a>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<objectivity-movie-details *ngIf="selectedMovie" [movie]="selectedMovie"></objectivity-movie-details>

<objectivity-loader></objectivity-loader>
