:host {
  display: block;
  background-color: #1b1e23;
  max-height: 50%;
}

.filters-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.movies-container {
  max-height: 60vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.new-movie-link {
  background-color: #fff;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    height: 36px;
    width: 36px;
  }
}
